{% extends "cnctfacpBundle::layout.html.twig" %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}
{% block menu %}
        <h1><font color="#800080">Administration</font></h1>
{% endblock %}
{% block facp_body %}
<h1>Edition des directions</h1>

<form action="{{ path('direction_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Editer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('direction') }}">
            Retour  la liste
        </a>
    </li>
    <li>
        <form action="{{ path('direction_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Supprimer</button>
        </form>
    </li>
</ul>
{% endblock %}