{% extends "cnctfacpBundle::layout.html.twig" %}

{% block title %}
	Nouvelle FACP - {{ parent() }}
{% endblock %}
{% block menu %}
        <h1><font color="#800080">FACP</font></h1>
{% endblock %}
{% block facp_body %}
            <h2 class="well">Nouvelle Fiche d'Action Corrective et/ou Préventive</h2>

<form action="{{ path('facpglob_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Créer</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('facpglob') }}">
            Retour à la liste
        </a>
    </li>
</ul>
{% endblock %}