{% extends "cnctfacpBundle::layout.html.twig" %}

{% block title %}
	Administration - {{ parent() }}
{% endblock %}
{% block menu %}
        <h1><font color="#800080">Administration</font></h1>
{% endblock %}
{% block facp_body %}
<h1>Sous_direction creation</h1>

<form action="{{ path('sous_direction_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('sous_direction') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}